PORT=3000
MONGO_URI=mongodb://localhost:27017/api-numerologia
JWT_SECRET=tu_secreto_aqui
GEMINI_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjZhYmIwZTVmNDM5M2U1OTFmOWVkYWM4OSIsIm5hbWUiOiJEaWVnbyBGYWphcmRvIiwiaWF0IjoxNzkwNjQzODkyLCJleHAiOjE3OTA2NDc0OTJ9.c-eAAT2BMww9yfooPEG9TGs5YXTnkAgCtAnWsM4hnBw